.intro-card {
    width: 80%;
    max-width: 1000px;
    padding: 40px;
    margin: 30px auto;
    text-align: center;
}

.intro-card img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto 40px auto;
}

.intro-card-text {
    color: white;
    font-size: 38px;
    text-align: center;
    margin-bottom: 30px;
}

.intro-card p {
    color: white;
    font-size: 20px;
    line-height: 1.7;
    max-width: 750px;
    margin: 0 auto;
}
* reset for images to ensure they ar 100% of the parent container width */
img {
    width: 100%;
}



/* BIG text styling for the hero section text */
.hero-text {
    font-size: 4em;
    font-weight: bold;
}

/* nice big font on a banner style background */
.topic-title{
    color: rgb(176, 173, 190);
    font-size: 2em;
    padding: 0.1em 3em;
    background-color: rgb(71, 71, 71);
}

/* Three column grid with a nice big gap */
.topic-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6em;
    /* bring the whole section in off the sides of the page */
    width: 70%;
    /* top margin of 3em and center right/left */
    margin: 3em auto;
}

/* Styling for the individual topic cards rounded edges background color and a drop shadow */
.topic-card{
    background-color: rgb(71, 71, 71);
    color: white;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 10px 10px 10px rgba(23, 23, 59, 0.721);
}

/* Styling for the topic card titles */
.topic-card-text{
    font-size: 1.5em;
    margin-bottom: 0.5em;
    /* center align text */
    text-align: center;
}

